In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
year = 2025
month = 11

In [5]:
prefix = 'https://d37ci6vzurychx.cloudfront.net/trip-data/'
url = prefix + f'green_tripdata_{year}-{month:02d}.parquet'

In [6]:
print(url)

https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

In [7]:
df = pd.read_parquet(
    url,
)

In [ ]:
engine = create_engine(f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}')

In [13]:
print(df.head().to_sql())

TypeError: NDFrame.to_sql() missing 2 required positional arguments: 'name' and 'con'