In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [14]:
year = 2025
month = 11
pg_user = 'root'
pg_pass = 'root'
pg_host = 'localhost'
pg_port = 5432
pg_db = 'ny_taxi'

In [5]:
prefix = 'https://d37ci6vzurychx.cloudfront.net/trip-data/'
url = prefix + f'green_tripdata_{year}-{month:02d}.parquet'

In [6]:
print(url)

https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

In [7]:
df = pd.read_parquet(
    url,
)

In [15]:
engine = create_engine(f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}')

In [19]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [20]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [21]:
df.to_sql(name = 'green_taxi_data',con = engine, if_exists = 'append')

912